/node_modules
/public/storage
/public/hot
/public/css
/public/js
/storage/*.key
/storage/old
/vendor
Homestead.json
Homestead.yaml
.env
.DS_Store
Thumbs.db
*.sublime-project
*.sublime-workspace
.project
/nbproject
_ide_helper.php
composer.phar
error.log
Todo.rtf
.vagrant
/.idea
npm-debug.log
